[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BayesRepDesign"]
	path = BayesRepDesign
	url = https://github.com/samch93/bayesrepdesign
	shallow = true
	registered = true
[submodule "ciCalibrate"]
	path = ciCalibrate
	url = https://github.com/samch93/cicalibrate
	shallow = true
	registered = true
