[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesRep"]
	path = BayesRep
	url = https://github.com/samch93/bayesrep
[submodule "BayesRepDesign"]
	path = BayesRepDesign
	url = https://github.com/samch93/bayesrepdesign
[submodule "ciCalibrate"]
	path = ciCalibrate
	url = https://github.com/samch93/cicalibrate
[submodule "ppRep"]
	path = ppRep
	url = https://github.com/samch93/pprep
